.carousel-item img {
    height: 500px;
    /* Ajusta este valor según el tamaño deseado */
    object-fit: cover;
    /* Esto asegura que la imagen se ajuste sin deformarse */
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

.navbar-toggler-icon {
    filter: invert(1);
    /* Cambia el ícono del toggler a blanco */
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* Esto hará que el contenedor ocupe toda la altura de la ventana */
}

.card-flip {
    position: relative;
    width: 300px; /* Set the width of the card */
    height: 300px; /* Set the height of the card */
    perspective: 1000px; /* Adds perspective for the 3D effect */
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s; /* Animation duration */
    transform-style: preserve-3d; /* Preserve the 3D effect */
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back side when facing away */
}

.card-front {
    z-index: 2; /* Show the front card */
}

.card-back {
    transform: rotateY(180deg); /* Initially hide the back side */
}

/* Add the flip effect */
.card-flip.flip .card {
    transform: rotateY(180deg); /* Flip the card */
}
